<div class="card artist" style="width: 30rem;">
  <img class="artist__image card-img-top" src="images/{{image}}" alt="">
  <h3>{{name}}</h3>
  <p>{{genre}}</p>
  <p>from {{location}}</p>
  <p>{{description}}</p>
  <footer class="artist__footer">
    <a href="https://www.facebook.com/woken.hamburg">
      <img src="images/facebook.png" alt="">
    </a>
    <a href="#">
      <img src="images/soundcloud.png" alt="">
    </a>
    <a href="#">
      <img src="images/world-wide-web.png" alt="">
    </a>
  </footer>
</div>